.swiper{
    height: 80vh;
}
.slideitem1{
    width: 100%;
    height: 100%;
    background-image: url("https://mobirise.com/extensions/floram4/floral-studio/assets/images/sl1-967x725.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    .slideitem_contnet{

    }
}
.slideitem2{
    width: 100%;
    height: 100%;
    background-image: url("https://mobirise.com/extensions/floram4/floral-studio/assets/images/sl7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}
.slideitem3{
    width: 100%;
    height: 100%;
    background-image: url("https://mobirise.com/extensions/floram4/floral-studio/assets/images/sl4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}
