#add_page{
    background-image: url("https://mobirise.com/extensions/floram4/floral-studio/assets/images/background1.jpg");
    padding: 80px 0px;
    .add_container{
        max-width: 1200px;
        margin: auto;
    }
}