#flowers {
  background-image: url("https://mobirise.com/extensions/floram4/floral-studio/assets/images/background1.jpg");
  padding: 120px 0px;
  .flowers_container {
    max-width: 1200px;
    margin: auto;
    .flowers_content {
      &_title {
        text-align: center;
        margin-bottom: 50px;
        p {
        }
        h2 {
        }
      }
    }
  }
}
